<div class="container">
<section id="header">
  <div>
    <span class="logo">R<sub>2</sub></span>
    <span class="logo-text">digital library</span>
  </div>
  <nav>
    <ul class="menu">
      <li><a>Browse</a></li>
      <li><a>A-Z Index</a></li>
      <li><a>About</a></li>
      <li><a>FAQ's</a></li>
      <li><a>User Guide</a></li>
    </ul>
  </nav>
  <div class="icons">
    <span class="material-icons">
      search
    </span>
    <span class="material-icons">
      account_circle
    </span>
  </div>
</section>
</div>
