<div class="container">
<div class="welcome-card">
  <h3><i>Dont just take our word for it!</i></h3>
  <h1>Read librarian reviews<br> of the R2 Digital Library</h1>
  <button>go to the reviews section</button>
</div>
  <section class="cards">
  <div class="left-card">
    <h4>Welcome to the R2 Digital Library</h4>
    <p>The best selection of constantly updated, Health Sciences focused, cross-referenced eContent. Featuring thousands of resources from the leading health sciences publishers—and growing every day.</p>
    <button>Start a free 30-day trial</button>
  </div>
  <div class="right-card">
    <h4>Watch a quick demo of the R2 Digital Library in action</h4>
    <p>You'll see how the new version of the R2 Digital Library is a powerful eBook solution for your institution.</p>
    <div></div>
  </div>
  </section>
</div>
